@model List<BusinessManager.Models.CampaignDataModel>

@{
    ViewBag.Title = "Campana Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Campana</h2>

<h1 class="block">Administracion de Campana</h1>
<div class="column1-unit">
    <table>
        <tr>
            
	<th class="top" scope="col">Name</th>
	<th class="top" scope="col">WorkflowID</th>            
            <th class="top" scope="col"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                
	<td scope="row">@item.Name</td>
	<td scope="row">@item.WorkflowID</td>                
                <td>@Html.ActionLink("Edit", "Edit", new { id=item.ID })</td>
            </tr>
        }
    </table>
    
</div>
<hr class="clear-contentunit" />

<div>
    @Html.ActionLink("Crear Campana", "Create")
</div>