@model List<BusinessManager.Models.FormDataModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="block">Formularios</h2>
<div class="column1-unit">
    <table>
        <tr>

            <th class="top" scope="col">Name</th>
            
            <th class="top" scope="col"></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
            <tr>

                <td scope="row">@item.Name</td>                
                <td>
                    @Html.ActionLink("Ver", "View", new { id = item.ID })                    
                </td>
            </tr>
            }
        }
    </table>

</div>
<hr class="clear-contentunit" />